{% set currentPage = "details" %}
{% extends "layouts/main.html" %}

{% block pageTitle %}Required Documents – {{ serviceName }}{% endblock %}




{% block content %}
<div class="govuk-width-container">
 <h1 class="govuk-heading-xl">
 {{ serviceName }}   </h1>
{{ super() }}
<style>

.custom-nav {
  display: flex;
  flex-wrap: wrap;     /* 👈 allows tabs to wrap onto multiple lines */
  gap: 2rem;
  padding: 1rem 0 0 0;
  border-bottom: 1px solid #b1b4b6;
}

.custom-nav__item {
   flex: 0 1 25;
  padding-bottom: 0;
  margin-bottom: -1px;
  margin-top: 0.25rem; /* 👈 adds spacing between wrapped rows */
}

.custom-nav__item a {
  text-decoration: none;
  color: #0b0c0c;
  font-size: 1.1rem;
}

.custom-nav__item--active {
  border-bottom: 4px solid #0b0c0c;
}

.custom-nav__item--active a {
  font-weight: bold;
}

</style>


  <div class="custom-nav">

  <!-- ALWAYS SHOW START -->
   <div class="custom-nav__item {% if currentPage == 'details' %}custom-nav__item--active{% endif %}">
    <a href="/navigation">Overview</a>
  </div>
  <div class="custom-nav__item {% if currentPage == 'navigation' %}custom-nav__item--active{% endif %}">
    <a href="/navigation">Select documents</a>
  </div>

  <!-- DYNAMIC MIDDLE TABS -->
  {% for page in journey %}
    <div class="custom-nav__item {% if currentPage == page %}custom-nav__item--active{% endif %}">
      {% if page == 'upload-group' %}
        <a href="/upload-group">Group structure</a>
      {% elif page == 'upload-financial' %}
        <a href="/upload-financial">Financial data</a>
      {% elif page == 'upload-rrp' %}
        <a href="/upload-rrp">Recovery and resolution plan</a>
      {% elif page == 'upload-additional' %}
        <a href="/upload-additional">Additional documents</a>
      {% endif %}
    </div>
  {% endfor %}

   

</div>
<br> 
 <h2 class="govuk-heading-l">
      Select what you need to do with your documents
      </h2>
<p> Check your latest email from the Financial Oversight Scheme for instructions on what to do next. </p>

{{ govukInsetText({
  text: "You must download and complete the latest spreadsheet before you can upload it."
}) }}
<div class="dfe-grid-container">
      <div class="dfe-card">
          <div class="dfe-card-container">
            <h3 class="govuk-heading-m">
                <a href="#" class="govuk-link govuk-link--no-visited-state dfe-card-link--header">Download the latest quarterly financial data spreadsheet </a>
            </h3>
           
          
          </div>
      </div>
      <div class="dfe-card">
          <div class="dfe-card-container">
            <h3 class="govuk-heading-m">
                <a href="#" class="govuk-link govuk-link--no-visited-state dfe-card-link--header">Upload documents </a>  </h3>
               
                <p>Upload your completed spreadsheet or other required documents.</p>
</a>
           


          </div>
      </div>
  </div>
{% endblock %}