{% set currentPage ="declaration" %}
{% extends "layouts/main.html" %}

{% block pageTitle %}
  Confirm and submit – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}




{% block content %}
<div class="govuk-width-container">
 <h1 class="govuk-heading-xl">
Children's Social Care Financial Oversight Scheme      </h1>
{{ super() }}
<style>

.custom-nav {
  display: flex;
  flex-wrap: wrap;     /* 👈 allows tabs to wrap onto multiple lines */
  gap: 2rem;
  padding: 1rem 0 0 2%;
  border-bottom: 1px solid #b1b4b6;
}

.custom-nav__item {
   flex: 0 1 50;
  padding-bottom: 0;
  margin-bottom: -1px;
  margin-top: 0.225rem; /* 👈 adds spacing between wrapped rows */
}

.custom-nav__item a {
  text-decoration: none;
  color: #0b0c0c;
  font-size: 1.1rem;
}

.custom-nav__item--active {
  border-bottom: 4px solid #0b0c0c;
}

.custom-nav__item--active a {
  font-weight: bold;
}

</style>

<div class="custom-nav">

  <!-- START -->
  <div class="custom-nav__item {% if currentPage == 'navigation' %}custom-nav__item--active{% endif %}">
    <a href="/navigation">Select documents</a>
  </div>

    <!-- DYNAMIC TABS -->
  {% for page in journey %}
    <div class="custom-nav__item {% if currentPage == page %}custom-nav__item--active{% endif %}">
      {% if page == 'upload-financial' %}
      <a href="/upload-financial">Financial data</a>

      {% elif page == 'upload-rrp' %}
        <a href="/upload-rrp">Recovery and resolution plan</a>

      {% elif page == 'upload-additional' %}
        <a href="/upload-additional">Additional documents</a>
      {% endif %}
    </div>
  {% endfor %}

  <!-- CONFIRM -->
  <div class="custom-nav__item {% if currentPage == 'declaration' %}custom-nav__item--active{% endif %}">
    <a href="/declaration">Confirm and submit</a>
  </div>

</div>
    

  <br>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

     
        <h1 class="govuk-heading-l">Check your details</h1>

       <div class="govuk-summary-card">
  <div class="govuk-summary-card__title-wrapper">
    <h2 class="govuk-summary-card__title">
     Organisation details
    </h2>
  </div>
  <div class="govuk-summary-card__content">
    <dl class="govuk-summary-list">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Organisation name
        </dt>
        <dd class="govuk-summary-list__value">
          CareTech
        </dd>
  
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          UK Provider Reference Number (UKPRN)
        </dt>
        <dd class="govuk-summary-list__value">
          10083441        </dd>
        </div>
    </dl>
  </div>
</div>
<div class="govuk-summary-card">
  <div class="govuk-summary-card__title-wrapper">
    <h2 class="govuk-summary-card__title">
      File uploads
    </h2>
  </div>
  <div class="govuk-summary-card__content">
    <dl class="govuk-summary-list">
      
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
Quarterly finanical data         </dt>
        <dd class="govuk-summary-list__value">
          financial26.xlsx
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> relationship to lead tenant (Person 2)</span></a>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Additional documents 
        </dt>
       
<dd class="govuk-summary-list__value">
    <ul class="govuk-list govuk-list--bullet">
      <li>Recoveryresolution26.xlsx</li>
      <li>Groupstructure26.xlsx</li>
    </ul>
  </dd>

        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> age (Person 2)</span></a>
        </dd>
      </div>
      
    </dl>
  </div>
</div>
       
        </dl>
      
      <h2 class="govuk-heading-m">Confirm and submit</h2>

      <form method="post" action="/confirmation" id="declaration-form">
        <div class="govuk-checkboxes">
          <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input" id="confirm" name="confirm" type="checkbox">
            <label class="govuk-label govuk-checkboxes__label" for="confirm">
              I confirm that the information I am providing is accurate and complete.
            </label>
          </div>
          <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input" id="confirm" name="confirm" type="checkbox">
            <label class="govuk-label govuk-checkboxes__label" for="confirm">
I confirm that I will provide updated group structure and ownership documents for my organisation if there are any changes.             </label>
          </div>
        </div>

        <br>

        <button type="submit" class="govuk-button" id="submit-button" > Confirm and submit</button>
      </form>

    </div>
  </div>
</div>

 {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}

{% endblock %}
