{% extends "layouts/main.html" %}

{% set pageName="Home" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">



    <h1 class="govuk-heading-xl">
      {{ serviceName }}
    </h1>

    
    <h1 class="govuk-heading-l">
     FO Team screen designs 
    </h1>
<p class="govuk-body">
    <a href="/fo-select" class="govuk-link">FO Team Portal</a>
    </p>

     <h1 class="govuk-heading-l">
     External screen designs
    </h1>
<p class="govuk-body">
    <a href="/start" class="govuk-link">Provider Portal</a>
    </p>


   
  </div>
</div>

{% endblock %}
