{% extends "layouts/main.html" %}

{% set pageName="Home" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">



    <h1 class="govuk-heading-xl">
      {{ serviceName }}
    </h1>

<p class="govuk-body">
    <a href="/start" class="govuk-link">Start page</a>
    </p>
<p class="govuk-body">
    <a href="/navigation" class="govuk-link">Navigation page</a>
    </p>
<p class="govuk-body">
    <a href="/upload-group" class="govuk-link">Group Structure upload</a>
    </p>
<p class="govuk-body">
    <a href="/upload-financial" class="govuk-link">Financial Model upload</a>
    </p>
<p class="govuk-body">
    <a href="/upload-additional" class="govuk-link">Additional doc upload</a>
    </p>
<p class="govuk-body">
    <a href="/declaration" class="govuk-link">Declaration page</a>
    </p>
<p class="govuk-body">
    <a href="/confirmation" class="govuk-link">Confirmation page</a>
    </p>

   
  </div>
</div>

{% endblock %}
