{% extends "layouts/main.html" %}

{% block pageTitle %}
  Start page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block header %}
  <!-- Blank header with no service name for the start page -->
  {{ govukHeader() }}
{% endblock %}



{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">
        {{ serviceName }}
      </h1>

      <p>If you are registered with the children social care (CSC) financial oversight scheme, you can use this service to submit your financial information to the Department for Education (DfE). </p>


      <h2 class="govuk-heading-m">
      About the service 
      </h2>
      
      <p>The service aims to keep foster homes stable for children in care by monitoring the financial health of the most difficult to replace providers.  </p>
      <p>You will be contacted by DfE to register for the service if your organisation meets the conditions for entry.  </p>
      <p>You can read more information about the financial oversight process and entry conditions in the <a href="#"> financial oversight scheme guidance.</a> </p>
      
      <h2 class="govuk-heading-m">
      What you need to provide  
      </h2>

      <p>You must submit quarterly financial data for your organisation. You’ll be emailed a spreadsheet to record your financial information.  </p>
      <p>Upload the completed spreadsheet using this service.  </p>
<p>DfE will review your submission and may ask you for more information.  </p>
     

      {{ govukButton({
        text: "Start now",
        href: "/action",
        isStartButton: true
      }) }}

      <h2 class="govuk-heading-m">
       How your data is handled and assessed 
      </h2>

      <p>
        This service provides a secure way to submit your financial data. DfE uses your data to complete a financial assessment using a structured assessment criteria.    
      </p>

      <p>
      You can <a href="#">read the privacy notice</a> to find out how DfE uses and stores your data. 
      </p>

      


       <h2 class="govuk-heading-m">
      How to access support 
      </h2>

<p>If you have any questions or issues regarding your submission, you can contact the <a href="#">customer help portal.</a> </p>
    </div>

    

  </div>

{% endblock %}
