{% extends "layouts/main.html" %}

{% block pageTitle %}
  Start page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block header %}
  <!-- Blank header with no service name for the start page -->
  {{ govukHeader() }}
{% endblock %}



{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">
        {{ serviceName }}
      </h1>

      <p>If you are registered with the children social care (CSC) financial oversight scheme, you can use this service to submit your financial information to the Department for Education (DfE). </p>


      <h2 class="govuk-heading-m">
      About this scheme 
      </h2>
      
      <p>This scheme helps to monitor the financial health of significant children’s social care providers to support the stability of the sector. </p>
      <p>You will be contacted by DfE to register for the service if your organisation is assessed to be one of the larger providers, where your capacity is important for maintaining the availability of services for children in care. </p>
      
       <h2 class="govuk-heading-m">
      What you need to provide  
      </h2>

      <p>Any team member with access to the service can sign in and submit your organisation’s quarterly financial data.</p>
      <p>Download and complete the <a href="#"> quarterly financial data spreadsheet </a>. This lists all the financial data that is required.  </p>
<p>DfE will review your submission and may ask for additional information.  </p>
     

      {{ govukButton({
        text: "Start now",
        href: "/navigation",
        isStartButton: true
      }) }}

      <h2 class="govuk-heading-m">
       How your data is handled and assessed 
      </h2>

      <p>
        This service provides a secure way to submit your financial data.  
      </p>

      <p>
      DfE uses your data to complete a financial assessment using a structured assessment criteria. <a href="#">Read the financial oversight scheme guidance </a> for more information about the oversight process. 
      </p>

      <p>
       You can read the <a href="#">privacy notice </a> to find out how DfE uses and stores your data. 
      </p>


       <h2 class="govuk-heading-m">
      How to access support 
      </h2>

<p>If you have any questions or issues regarding your submission, you can <a href="#">customer help portal.</a> </p>
    </div>

    

  </div>

{% endblock %}
