{% extends "govuk-prototype-kit/layouts/govuk-branded.njk" %}
{% from "govuk/components/service-navigation/macro.njk" import govukServiceNavigation %}

{% block header %}
    {{ govukHeader() }}
    

    <div class="govuk-phase-banner govuk-width-container">
  <p class="govuk-phase-banner__content">
    <strong class="govuk-tag govuk-phase-banner__content__tag">
      Beta
    </strong>
    <span class="govuk-phase-banner__text">
      This is a new service. Help us improve it and <a class="govuk-link" href="#">give your feedback (opens in new tab)</a>.
    </span>
  </p>
</div>
{% endblock %}

<div class="custom-nav">
  {% for page in journey %}
    <div class="custom-nav__item {% if currentPage == page %}custom-nav__item--active{% endif %}">
      {% if page == 'upload-group' %}
        <a href="/upload-group">Group Structure</a>
      {% elif page == 'upload-financial' %}
        <a href="/upload-financial">Financial Model</a>
      {% elif page == 'upload-additional' %}
        <a href="/upload-additional">Additional Documents</a>
      {% endif %}
    </div>
  {% endfor %}

  <div class="custom-nav__item {% if currentPage == 'confirm-submit' %}custom-nav__item--active{% endif %}">
    <a href="/confirmation">Confirm and submit</a>
  </div>
</div>


{% block scripts %}
    {{ super() }}
    <script src="/assets/js/dfefrontend.min.js"></script>
{% endblock %}