{#
For guidance on how to use layouts see:
https://prototype-kit.service.gov.uk/docs/how-to-use-layouts
#}

{% extends "govuk-prototype-kit/layouts/govuk-branded.njk" %}
{% from "govuk/components/service-navigation/macro.njk" import govukServiceNavigation %}

{% block header %}

    {{ govukHeader() }}
    {{ govukServiceNavigation({
        serviceName: serviceName
    })}}

{% endblock %}

<div class="custom-nav">

  {% for page in journey %}
    <div class="custom-nav__item {% if currentPage == page %}custom-nav__item--active{% endif %}">
      {% if page == 'upload-group' %}
        <a href="/upload-group">Group Structure</a>
      {% elif page == 'upload-financial' %}
        <a href="/upload-financial">Financial Model</a>
      {% elif page == 'upload-additional' %}
        <a href="/upload-additional">Additional Documents</a>
      {% endif %}
    </div>
  {% endfor %}

  <div class="custom-nav__item {% if currentPage == 'confirm-submit' %}custom-nav__item--active{% endif %}">
    <a href="/confirmation">Confirm and submit</a>
  </div>

</div>