{#
For guidance on how to use layouts see:
https://prototype-kit.service.gov.uk/docs/how-to-use-layouts
#}

{% extends "govuk-prototype-kit/layouts/govuk-branded.njk" %}
{% from "govuk/components/service-navigation/macro.njk" import govukServiceNavigation %}

{% block header %}

    {{ govukHeader() }}
    {{ govukServiceNavigation({
        serviceName: serviceName
    })}}

{% endblock %}
{% block head %}
  {{ super() }}
  <style>
    .custom-nav {
      display: flex;
      gap: 2rem;
      padding: 1rem 0 0 0;
      border-bottom: 1px solid #b1b4b6;
    }
    .custom-nav__item {
      padding-bottom: 0;
      margin-bottom: -1px; /* pulls underline down so it touches the grey line */
    }
    .custom-nav__item a {
      text-decoration: none;
      color: #0b0c0c;
      font-size: 1.1rem;
    }
    .custom-nav__item--active {
      border-bottom: 4px solid #0b0c0c;
    }
    .custom-nav__item--active a {
      font-weight: bold;
    }
  </style>
{% endblock %}